* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.logout {
    background-color: #808000 !important;
    text-decoration: none !important;
    display: inline-block;
    color: white !important;
}

.logout:hover {
    background-color: #696901 !important;
    transition: 300ms ease-in-out;
    color: white !important;
}

.edit-btn {
    background-color: #808000 !important;
    color: white !important;
}

.edit-btn:hover {
    background-color: #696901 !important;
    transition: 300ms ease-in-out;
    color: white !important;
}

.stripcard {
    color: black;
    background-color: rgb(224, 224, 21);
}

.verslag-label {
    font-weight: bold;
}

:disabled {
    cursor: not-allowed;
}

.brand-text {
    background-color: #808000;
    border-radius: .25rem;
    padding: 8px 16px;
    font-size: 20px;
}

.smart-text {
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

.table thead th {
    background-color: rgb(224, 224, 21);
}
